{{ $ := .root }}
{{ $page := .page }}

<head>
<style>
figure {
  border: 4px #cccccc solid;
  padding: 4px;
  margin: auto;
  text-align: right; 
  display: block;
  margin-bottom: 10px;
}
</style>
</head>

{{ with .Resources.GetMatch "*.css" }}
  <style>{{ .Content | safeCSS }}</style>
{{ end }}

<!-- Resume widget -->
<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  
  <div class="col-12 col-sm-8"> <!-- Change col-sm-4 to col-sm-8 -->
    {{ with $page.Content }}{{ . }}{{ end }}
    {{ if $page.Params.item }}
      <div class="row"> <!-- Add a new row container here -->
        {{ range $idx, $key := sort $page.Params.item ".date_start" "desc" }}
          <div class="col-md-4"> <!-- Specify the column width as needed -->
            <div class="card experience course">
              <div class="card-body">
                <h4 class="card-title exp-title text-muted my-0">{{.title | markdownify | emojify}}</h4>
                {{ with .pdf_url }}
                  <a class="card-link" href="{{.}}" target="_blank" rel="noopener">
                    {{ i18n "open pdf" | default "Open PDF" }}
                  </a>
                {{ end }}
                {{ with .pdf_snapshot }}
                  <figure>
                      <img src="{{.}}" width="150" alt="Snapshot Image" class="snapshot-image">
                  </figure>
                {{ end }}
              </div>
            </div>
          </div>
        {{end}}
      </div>
    {{end}}
  </div>
</div>
